<header>
  <div class="tieude">
    <div class="tieude1">
      <ul>
        <li><a href="">Trang chủ</a></li>
        <li><a href="">Sản phẩm</a></li>
        <li><a href="">Giới thiệu</a></li>
        <li><a href="">Liên hệ</a></li>
        <li><a href="">Tin tức</a></li>
      </ul>
    </div>
    <div class="tieude2">
      <input type="text" placeholder="Tìm kiếm" />
      <button type="submit">
        <i
          class="fa-solid fa-magnifying-glass fa-xs"
          style="color: #000000"
        ></i>
      </button>
    </div>
    <div class="tieude3">
      <div class="tieude3_1">
        <a href="" class="cart"
          ><i
            class="fa-solid fa-cart-shopping fa-flip-horizontal"
            style="color: #ffffff"
          ></i
        ></a>
        <a href=""><i class="fa-solid fa-bell" style="color: #ffffff"></i></a>
      </div>
      <div>
        <button class="border-0 py-0" style="background-color: #80bb35">
          <i class="fa-solid fa-user" style="color: #ffffff"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<router-outlet />

<footer>
  <div>ngatpthph45610</div>
</footer>
