<main class="container">
  <button
    routerLink="/admin/addproduct"
    class="border-0 rounded py-1 px-3 mb-4 ms-4"
    style="background-color: #2b3d75; color: white; font-size: 16px"
  >
    Thêm sản phẩm
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Old Price</th>
        <th>In_Stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>
          <img [src]="product.imageUrl" alt="{{ product.name }}" width="100" />
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.oldPrice }}</td>
        <td>{{ product.in_stock ? "Còn hàng" : "Hết hàng" }}</td>
        <td>
          <button
            class="border-0 bg-white"
            routerLink="/admin/updateproduct/{{ product.id }}"
          >
            <i class="fa-regular fa-pen-to-square" style="color: #015efe"></i>
          </button>
          <button
            class="border-0 bg-white px-2"
            (click)="removeItem(product.id!)"
          >
            <i class="fa-solid fa-trash" style="color: #e60000"></i>
          </button>
        </td>
      </tr>
      <!-- <tr>
        <td>2</td>
        <td>SP 1</td>
        <td><img src="https://picsum.photos/100/100" alt="" /></td>
        <td>5000</td>
        <td>10000</td>
        <td>Good</td>
        <td>
          <button class="border-0 bg-white">
            <i class="fa-regular fa-pen-to-square" style="color: #015efe"></i>
          </button>
          <button class="border-0 bg-white px-2">
            <i class="fa-solid fa-trash" style="color: #e60000"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>SP 1</td>
        <td><img src="https://picsum.photos/100/100" alt="" /></td>
        <td>5000</td>
        <td>10000</td>
        <td>Good</td>
        <td>
          <button class="border-0 bg-white">
            <i class="fa-regular fa-pen-to-square" style="color: #015efe"></i>
          </button>
          <button class="border-0 bg-white px-2">
            <i class="fa-solid fa-trash" style="color: #e60000"></i>
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>
</main>
