<main class="container">
  <aside>
    <div class="cate">
      <h6>Danh Mục</h6>
      <ul>
        <li><a href="">Danh mục 1</a></li>
        <li><a href="">Danh mục 2</a></li>
        <li><a href="">Danh mục 3</a></li>
        <li><a href="">Danh mục 4</a></li>
        <li><a href="">Danh mục 5</a></li>
      </ul>
    </div>
    <div class="price">
      <h6>Giá Sản Phẩm</h6>
      <input type="checkbox" name="" id="" />
      <span>Giá dưới 100.000<sup>đ</sup></span>
      <br />
      <hr />
      <input type="checkbox" name="" id="" /><span
        >100.000<sup>đ</sup> - 200.000<sup>đ</sup></span
      >
      <br />
      <hr />
      <input type="checkbox" name="" id="" /><span
        >200.000<sup>đ</sup> - 300.000<sup>đ</sup></span
      >
      <br />
      <hr />
      <input type="checkbox" name="" id="" /><span
        >300.000<sup>đ</sup> - 500.000<sup>đ</sup></span
      >
      <br />
      <hr />
      <input type="checkbox" name="" id="" /><span
        >500.000<sup>đ</sup> - 1.000.000<sup>đ</sup></span
      >
      <br />
      <hr />
      <input type="checkbox" name="" id="" /><span
        >Giá trên 1.000.000<sup>đ</sup></span
      >
    </div>
    <div class="brand">
      <h6>Thương Hiệu</h6>
      <ul>
        <li><a href="">Thương hiệu 1</a></li>
        <li><a href="">Thương hiệu 2</a></li>
        <li><a href="">Thương hiệu 3</a></li>
        <li><a href="">Thương hiệu 4</a></li>
        <li><a href="">THương hiệu 5</a></li>
      </ul>
    </div>
  </aside>
  <article>
    <div class="loc">
      <form>
        <label>Sắp xếp: </label>
        <select name="" id="">
          <option value="" hidden>Mặc định</option>
          <option value="">Giá tăng dần</option>
          <option value="">Giá giảm dần</option>
          <option value="">Hàng cũ</option>
          <option value="">Hàng mới</option>
        </select>
      </form>
    </div>
    <hr />
    <div class="item">
      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <!-- <del>100.000 <sup>đ</sup></del> -->
          </div>
        </div>
      </a>

      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <del>100.000 <sup>đ</sup></del>
          </div>
        </div>
      </a>
      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <!-- <del>100.000 <sup>đ</sup></del> -->
          </div>
        </div>
      </a>
      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <!-- <del>100.000 <sup>đ</sup></del> -->
          </div>
        </div>
      </a>
      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <del>100.000 <sup>đ</sup></del>
          </div>
        </div>
      </a>
      <a href="">
        <div class="item-1">
          <img src="https://picsum.photos/150/130" alt="" />
          <div class="item-1_1">
            <h6>Sản phẩm 1</h6>
            <span>80.000 <sup>đ</sup></span>
            <!-- <del>100.000 <sup>đ</sup></del> -->
          </div>
        </div>
      </a>
    </div>
  </article>
</main>
