<main class="container">
  <div class="item">
    <img src="https://picsum.photos/510/450" alt="" />
    <div>
      <h4>Sản phẩm 1</h4>
      <div class="price">
        <span>5000<sup>đ</sup></span>
        <del>10000<sup>đ</sup></del>
      </div>
      <div class="mt-3">
        <h6>Mô tả</h6>
        <p class="des">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
          corporis aperiam dolore ex eos praesentium veritatis iure quae,
          voluptatum repellat vero quaerat, odit fugit deserunt, nesciunt
          dolorem culpa molestiae. Quis.
        </p>
      </div>
      <div class="mb-3">
        <h6 class="mb-3">Số lượng:</h6>
        <div class="quantity">
          <button class="quantity-btn">-</button>
          <input type="text" class="quantity-input" value="1" min="1" />
          <button class="quantity-btn">+</button>
        </div>
      </div>
      <button type="submit" class="cart">
        <i class="fa-solid fa-cart-shopping" style="color: #fafafa"></i>
        Thêm vào giỏ hàng
      </button>
    </div>
  </div>
</main>
