<header>
  <div class="timkiem px-4">
    <input type="search" placeholder="Tìm kiếm" />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass fa-sm" style="color: #cececf"></i>
    </button>
  </div>
  <div class="thongtin mx-5">
    <div class="mx-4">
      <i class="fa-regular fa-bell mx-2" style="color: #000205"></i>
      <i class="fa-regular fa-message" style="color: #00040a"></i>
    </div>
    <div>
      <i class="fa-regular fa-user" style="color: #000205"></i>
    </div>
  </div>
</header>

<aside>
  <div>
    <div>
      <h5 class="text-white py-3" style="margin-left: 28px; margin-top: 13px">
        ADMIN.
      </h5>
      <hr class="text-white" />
    </div>
    <ul class="main-menu">
      <li class="mb-3">
        <i class="fa-solid fa-chart-line logo" style="color: #fafafa"></i>
        <a href="">Dashboard</a>
      </li>
      <li>
        <i class="fa-solid fa-pager logo" style="color: #fafafa"></i>
        <a href=""
          >Sản phẩm
          <i class="mx-1 fa-solid fa-caret-down" style="color: #f9fafb"></i>
        </a>
        <ul class="menu-con">
          <li><a href="">Danh sách sản phẩm</a></li>
          <li><a href="">Thêm sản phẩm</a></li>
          <li><a href="">Sửa sản phẩm</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<router-outlet />

<footer></footer>
