<nav>
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://picsum.photos/1393/550" class="d-block" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://picsum.photos/1393/550" class="d-block" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="" class="d-block" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</nav>
<main class="container">
  <div class="gioithieu">
    <div class="gioithieu1">
      <span>Giới Thiệu</span>
      <h4>Giới thiệu chung</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora iusto
        eveniet, repellendus corrupti unde officia animi repudiandae saepe optio
        amet nesciunt consectetur quasi. Quo quia suscipit ex repellat, commodi
        vitae.
      </p>
      <ul>
        <li>Quality</li>
        <li>Safety</li>
        <li>Efficiency</li>
        <li>Professionalism</li>
      </ul>
      <button>Xem thêm</button>
    </div>
    <div class="gioithieu2">
      <img src="https://picsum.photos/390/420" alt="" />
    </div>
  </div>

  <div class="dichvu">
    <div class="dichvu1">
      <p>Chúng Tôi Làm Gì?</p>
      <h4>Dịch vụ của chúng tôi</h4>
    </div>
    <div class="dichvu2">
      <div class="dichvu2-1">
        <img src="https://picsum.photos/320/320" alt="" />
        <h6>Dịch vụ 1</h6>
      </div>
      <div class="dichvu2-1">
        <img src="https://picsum.photos/320/320" alt="" />
        <h6>Dịch vụ 2</h6>
      </div>
      <div class="dichvu2-1">
        <img src="https://picsum.photos/320/320" alt="" />
        <h6>Dịch vụ 3</h6>
      </div>
    </div>
  </div>

  <div class="danhgia">
    <h4>Khách hàng nói gì</h4>
    <div class="danhgia1">
      <div class="danhgia1-1">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          illo deserunt dolores eaque labore voluptate incidunt qui, modi maxime
          quaerat facilis, ducimus reiciendis ipsum, alias sequi! Saepe eligendi
          in facere?</span
        >
        <div class="danhgia1-1_1">
          <div class="dg">
            <i class="fa-solid fa-user fa-2xl" style="color: #80bb35"></i>
          </div>
          <div class="dg-1">
            <span style="font-weight: 500">ABC</span>
            <span style="font-size: xx-small">Thiết kế</span>
          </div>
        </div>
      </div>
      <div class="danhgia1-1">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          illo deserunt dolores eaque labore voluptate incidunt qui, modi maxime
          quaerat facilis, ducimus reiciendis ipsum, alias sequi! Saepe eligendi
          in facere?</span
        >
        <div class="danhgia1-1_1">
          <div class="dg">
            <i class="fa-solid fa-user fa-2xl" style="color: #80bb35"></i>
          </div>
          <div class="dg-1">
            <span style="font-weight: 500">ABC</span>
            <span style="font-size: xx-small">Giáo viên</span>
          </div>
        </div>
      </div>
      <div class="danhgia1-1">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          illo deserunt dolores eaque labore voluptate incidunt qui, modi maxime
          quaerat facilis, ducimus reiciendis ipsum, alias sequi! Saepe eligendi
          in facere?</span
        >
        <div class="danhgia1-1_1">
          <div class="dg">
            <i class="fa-solid fa-user fa-2xl" style="color: #80bb35"></i>
          </div>
          <div class="dg-1">
            <span style="font-weight: 500">ABC</span>
            <span style="font-size: xx-small">Học sinh</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
